

<!DOCTYPE html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <head th:replace="snippets.html :: name_head"></head>
<title>Invitations Received</title>
</head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: name_toast"></div>

<div class="container">
<h3>Invitations Received</h3>


    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="invites-table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">From</th>
                    <th scope="col">lobby</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>



</div>

</body>
<footer th:replace="snippets.html :: name_footer"></footer>

<script src="/invites.js"/>
</script>
</html>
