<!DOCTYPE html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <head th:replace="snippets.html :: name_head"></head>

</head>
<body>
<div th:replace="snippets.html :: name_toast"></div>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="container">

    <div class="row">

    <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="lobby-table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Admin Username</th>
                    <th scope="col"><button class="btn curvy-button" data-toggle="modal" data-target="#create-lobby-modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;New Lobby</button> </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <!-- ... -->
    <div class="modal" tabindex="-1" role="dialog" id="create-lobby-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Lobby</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lobby-title-input">Title:</label>
                        <input type="text" class="form-control" id="lobby-title-input" placeholder="Enter Lobby Title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createNewLobby()">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ... -->

    <!-- ... -->
    <div class="modal" tabindex="-1" role="dialog" id="lobby-members-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lobby Members</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody id="lobby-members-table-body">
                        <tr>
                            <form  >
                                <input  type="text" id="username-input" name="input" placeholder="Enter Username">
                                <button class="btn curvy-button" type="submit" onclick="invite()" >Invite</button>
                            </form>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ... -->


</div>

</body>
<footer th:replace="snippets.html :: name_footer"></footer>

<script src="/lobbies.js"/>
</script>
</html>
